<% provide(:title, "Home") %>

<section class="sign-up jumbotron">
	<div class="container">
		<h1>Sign up to see more details!</h1>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
	</div>
</section>