<% provide(:title, "Home") %>

<section class="home-sign-up">
  <div class="container">
    <div class="row">
    	<header class="section-title">
				<h2>Join me today - it only takes a few seconds</h2>
				<div class="section-line">
          <span class="section-line-span"><i class="fa fa-sun-o"></i></span>
        </div>
      </header>
      <div class="sign-up-button">
      	<%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</section>