@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "mixins.scss";
@import "variables.scss";

// Main content
#main-content {
  @include relative;
  background: $body-bg;
  z-index: 1;
}

// Jumbotron
.jumbotron {
  margin-bottom: 0;
}

// Section title
.section-title {
  margin: 30px 0;
  @media screen and (min-width: 992px) {
    margin: 50px 0;
  }
}

// Section line
.section-line {
  font-size: 20px;
  line-height: 20px;
  color: $bright-text-color;
  @include clear;
  @include center-text;
  @include v-align;
  &:before{
    float: left;
    @include section-line-mix;
  }
  &:after{
    float: right;
    @include section-line-mix;
  }
}

.section-line-span {
  margin: 0 3px;
  i {
    @include icon($brand-warning, 18px, 1);
  }
}

// Top separator
.top-separator {
  height: 60px;
}

// White background
.alt-bg {
  background: $alternate-bg;
}

// Buttons
.btn {
  padding: 12px 20px;
  @include upper;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  &:focus {
    outline: none !important;
  }
  i {
    margin-right: 10px;
    @include v-align;
    @include icon($bright-text-color, 22px, 22px);
  }
  span {
    @include v-align;
  }
}

.btn-primary {
	color: #fff;
	background-color: #8dd4d4;
	border-color: #7acdcd;
	&:hover {
		background-color: #68c6c6;
		border-color: #4ebcbc;
	}
}

// Forms
input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    margin: 0 0 30px 0;
    list-style-type: none;
    color: red;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// Fork
.gh-fork {
  position: absolute;
  right: 0;
  width: 120px;
  height: 120px;
  border: 0;
  z-index: 998;
  opacity: 0.8;
  @include basic-transition;
  &:hover {
    opacity: 1;
    @include basic-transition;
  }
}

// Users index
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}