@import "mixins.scss";
@import "variables.scss";

// Main header
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $alternate-bg;
  z-index: 99;
  @include shadow(0 0 3px 0 rgba(0,0,0,0.2));
}

// Styles for 60px
.header-short, .header-short .header-content, .header-short .main-logo, .header-short .nav-main, .header-short .nav-right {
  height: $header-height-sm;
}

// Logo styles
.logo-wrapper {
  display: table;
  .main-logo {
    display: table-cell;
    @include v-align;
    img {
      height: 50px;
    }
  }
}

// General main menu styles
.header-content {
  ul {
    @include list-style-none;
    li, div {
      float: left;
      a {
        text-decoration: none;
        color: $menu-text-color;
        font-weight: 700;
        @include upper;
        @include basic-transition;
        &:hover {
          color: $menu-text-hover-color;
        }
      }
    }
  }
}

// Main Menu
.nav-main {
  ul.main-nav-list {
    @include v-align-transform;
    li, div {
      float: left;
      line-height: 1.4;
      a {
        padding: 0 18px;
      }
    }
  }
}

.menu-link-active {
  color: $menu-text-hover-color !important;
}