@import "mixins.scss";
@import "variables.scss";

.sign-up {
	@include center-text;
	label {
		@include block;
    width: 100%;
    float: left;
    color: #555554;
    @include upper;
    font-weight: bold;
	}
}