@import "mixins.scss";
@import "variables.scss";

.portfolio {
  @include center-text;
}

.portfolio-inner {
  @include shadow(0 1px 0 rgba(0, 255, 0, 0.1));
  padding: 25px;
  border-radius: 3px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1400px) {
    margin-bottom: 50px;
  }
  h3 {
    margin-bottom: 25px;
    font-weight: 600;
    a {
      color: $text-color;
      text-decoration: none;
      @include basic-transition;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.portfolio-head {
  margin: -25px -25px 25px;
  a {
    @include relative;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    @include basic-transition;
    -webkit-backface-visibility: hidden;
    &:hover img {
      opacity: 1;
      transform: scale(1.02);
    }
    img {
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 10px;
      opacity: 0.9;
      transform: scale(1);
      transition: opacity 0.3s, transform 0.3s;
    }
  }
}

.portfolio-content {
  font-size: 14px;
}

/*.hor-line {
  margin: 0 -25px 25px;
  height: 1px;
  @include block;
  background: lighten($border-color, 6%);
}

.comments-link {
  color: $paragraph-color;
  text-decoration: none;
  line-height: 30px;
  @include basic-transition;
  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

.read-more {
  line-height: 30px;
  font-size: 24px;
  color: $border-color;
  @include basic-transition;
  &:hover {
    color: $brand-primary;
  }
}*/