// Text variables
$font-family-sans-serif: 'Open Sans', Arial, sans-serif;
$font-family-secondary: 'Source Sans Pro', sans-serif;
$line-height-base: 1.6;

$font-size-base: 13px;

// Header sizes
$header-height-sm: 60px;

// Brand Colors
$brand-primary: #8dd4d4;

// Background, text, border, input border colors
$text-color: #454740;
$paragraph-color: #888;
$body-bg: #f6f6f6;
$alternate-bg: #fff;
$light-bg: #c1c3c4;
$dark-bg: #222532;
$copyright-bg: #15151e;
$bright-text-color: #fff;
$menu-text-color: #929292;
$menu-text-hover-color: #8dd4d4;
$footer-text-color: #999;
$border-color: #ddd;
$section-line-color: #eaeaea;
$light-gray: #f5f5f5;
$input-border-hover: #bbb;
$form-warning: #e20000;