// Text variables
$line-height-base: 1.6;

// Header sizes
$header-height-sm: 60px;

// Background, text, border, input border colors
$alternate-bg: #fff;
$dark-bg: #222532;
$bright-text-color: #fff;
$menu-text-color: #929292;
$menu-text-hover-color: #8dd4d4;
$border-color: #ddd;