<!-- Contact -->
<section class="contact">
  <div class="container no-padding">
    <div class="row">

      <!-- Contact form -->
      <div class="col-xs-12 col-sm-6">
        <div class="form-wrapper">
          <div class="contact-form">
            <!-- Form will be here -->
          </div>
        </div>
      </div>

      <!-- Map -->
      <div class="col-xs-12 col-sm-6">
        <div class="map-wrapper embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsc9_0orMHkcRb8JbC7iLC8w&key=AIzaSyAgV5MEV6VQHGw-5n5MMTwe2UAYS4MBS5Y" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</section>