<footer>
	<div class="container-fluid copyright">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 copyright-content">
				<p>Copyright 2017 @ Kamil Oleksiuk</p>
			</div>
		</div>
	</div>
</footer>