<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="row">

      <!-- Title -->
      <div class="col-xs-12 col-sm-10 col-sm-offset-1"">
        <header class="section-title">
          <h2>Portfolio</h2>
          <div class="section-line">
            <span class="section-line-span"><i class="fa fa-sun-o"></i></span>
          </div>
        </header>
      </div>

      <!-- First project -->
      <div class="col-xs-12 col-md-4 portfolio-single">
        <div class="portfolio-inner alt-bg">
          <div class="portfolio-head">
            <a href="portfolio_images/bhagaskara_big.png" rel="lightbox[portfolio]">
              <%= image_tag("portfolio_images/bhagaskara_small.png") %>
            </a>
          </div>
          <h3><a href="portfolio_images/bhagaskara_big.png" rel="lightbox[link_portfolio]">First project</a></h3>
          <div class="portfolio-content">
            <p>My very first project. This is how I have begun</p>
          </div>
          <!--<div class="hor-line"></div>
          <a href="" class="pull-right read-more"><i class="fa fa-caret-right"></i></a>
          <a href="" class="comments-link">2 comments</a>
          <div class="clearfix"></div>-->
        </div>
      </div>

      <!-- Second project -->
      <div class="col-xs-12 col-md-4 portfolio-single">
        <div class="portfolio-inner alt-bg">
          <div class="portfolio-head">
            <a href="portfolio_images/email_newsletter_big.png" rel="lightbox[portfolio]">
              <%= image_tag("portfolio_images/email_newsletter_small.png") %>
            </a>
          </div>
          <h3><a href="portfolio_images/email_newsletter_big.png" rel="lightbox[link_portfolio]">Second project</a></h3>
          <div class="portfolio-content">
            <p>My first HTML email newsletter</p>
          </div>
          <!--<div class="hor-line"></div>
          <a href="" class="pull-right read-more"><i class="fa fa-caret-right"></i></a>
          <a href="" class="comments-link">0 comments</a>
          <div class="clearfix"></div>-->
        </div>
      </div>

      <!-- More projects -->
      <div class="col-xs-12 col-md-4 portfolio-single">
        <div class="portfolio-inner alt-bg">
          <div class="portfolio-head">
            <a href="portfolio_images/placeholder_big.png" rel="lightbox[portfolio]">
              <%= image_tag("portfolio_images/placeholder_small.png") %>
            </a>
          </div>
          <h3><a href="portfolio_images/placeholder_big.png" rel="lightbox[link_portfolio]">More</a></h3>
          <div class="portfolio-content">
            <p>Click here if you want to see more</p>
          </div>
          <!-- <div class="hor-line"></div>
          <a href="" class="pull-right read-more"><i class="fa fa-caret-right"></i></a>
          <a href="" class="comments-link">0 comments</a>
          <div class="clearfix"></div>-->
        </div>
      </div>

    </div>
  </div>
</section>