<!-- Contact social media -->
<section class="contact-icons alt-bg" id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <header class="section-title">
          <h2>Contact</h2>
          <div class="section-line">
            <span class="section-line-span"><i class="fa fa-sun-o"></i></span>
          </div>
        </header>
        <div class="contact-text">
          <p>Want to get in touch with me?</p>
          <p>Feel free to contact me via Facebook, LinkedIn, Twitter, Github or fill out the form below to send me a message and I will answer you as soon as possible!</p>
          <p>All suggestions and comments are most welcome.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="contact-logos">
          <ul class="logos-list">
            <li><a href="https://www.facebook.com/kamil.oleksiuk"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://pl.linkedin.com/in/kamil-oleksiuk-a7044ab6"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/OleksiukKamil"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/koleksiuk20"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>